<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.codeencrypt" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SetPassword.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetPassword.SetPasswordActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".add_message_aty"></activity>
        <activity android:name=".group_aty"></activity>
        <activity android:name=".group_special"></activity>
    </application>

</manifest>
